.question-container {
  counter-reset: question;
}

.question-entry {
  display: flex;
  flex-flow: column;
  gap: 1.5em;
}

.question-entry h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.question-entry p {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

.single-selection .question-number::before {
  counter-increment: question;
  content: "Question NO." counter(question) " Single Selection";
}

.multiple-selection .question-number::before {
  counter-increment: question;
  content: "Question NO." counter(question) " Multiple Selection";
}

.completion .question-number::before {
  counter-increment: question;
  content: "Question NO." counter(question) " Completion";
}
