#page-emotions {
  display: grid;
  grid-template-rows: auto 1fr;
}

.emotion-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#page-emotions ul {
  list-style: none;
  padding: 0 10rem;
  flex: 1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
}

#page-emotions li {
  border: 2px solid white;
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.emotion-image {
  display: flex;
}

.emotion-image img {
  margin: 0;
  height: min(15vw, 10rem);
  width: min(15vw, 10rem);
}

.emotion-description {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
}

.emotion-description h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
}

.emotion-description p {
  margin: 0;
}
